.new-background-color{
  --background: #AB95F9;
  color: white;
}

.topContent {
  background-color: #AB95F9;
  padding-top: 100px;
}

#container {
  text-align: center;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.surprise {
  font-size: 50px;
  color: #FFFFFF;
  font-weight: 900;
  font-family: Nunito Sans;
  margin: 0 auto;
  text-align: center;
}

.block {
  margin: 0 auto;
  text-align: center;
}

.firstDesc {
  margin-top: 20px;
}

.surpriseDesc {
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 500;
  font-family: Nunito Sans;
  text-align: center;
}

.btnBlock {
  margin-top: 30px;
  padding-bottom: 100px;
  margin: 0 auto;
  text-align: center;
}

.subscribeBtn {
  color: blue;
  --background: none;
  background-color: white;
  border-radius: 10px ;
}

.bottomContent {
  --background: none;
  background-color: #FFF9E6;
  background-image: url('../../assets/images/content_background.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  height: auto;
  padding-top: 100px;
}

.discoverfirstHeader {
  font-size: 16px;
  font-weight: 500;
  font-family: Nunito Sans;
  margin: 0 auto;
  text-align: center;
}

.discoversecondHeader {
  font-size: 48px;
  font-weight: 500;
  font-family: Nunito Sans;
  margin-top: 10px;
  margin: 0 auto;
  text-align: center;
}

.discoverBody {
  font-size: 24px;
  font-weight: 400;
  font-family: Nunito Sans;
  margin-top: 10px;
  margin: 0 auto;
  text-align: center;
}

.rowBlock {
  justify-content: center;
}

.iconBlock {
  background: white;
  height: 96px;
  width: 96px;
  border-radius: 144px;
  margin: auto;
  align-items: center;
}

.serviceBox {
  height: 268px;
  margin-top: 50px;
}

.serviceBox .top {
  font-size: 24px;
  font-weight: 700;
  font-family: Nunito Sans;
}

.serviceBox .bottom {
  font-size: 32px;
  font-weight: 700;
  font-family: Nunito Sans;
}

.serviceBox .firstRow {
  margin-top: 10px;
}

.serviceBox .bodyBlock {
  font-size: 16px;
  font-weight: 400;
  font-family: Nunito Sans;
}

.footer {
  margin: auto;
  justify-content: space-between;
  width: 80%;
  margin-top: 50px;
  padding-top: 20px;
  border-top: 1px solid;
  color: black;
}

.footerContent {
  font-size: 14px;
  font-weight: 400;
  font-family: Nunito Sans;
}

.copyRightContent {
  font-size: 14px;
  font-weight: 400;
  font-family: Nunito Sans;
  text-align: end;
}

.footerlogosubscribe {
  display: none;
}

.subscribeBtnFooter {
  --background: black;
  border-radius: 10px ;
}

.footerLogoHeader {
  font-size: 40px;
  font-family: Nunito Sans;
  font-weight: 700;
}


@media screen and (min-width : 320px) and (max-width : 768px) {

  .footerlogosubscribe {
    display: flex;

    .policysubscript {
      font-size: 10px;
      font-weight: 400;
    }
  }

  .copyRightContent {
    font-size: 14px;
    font-weight: 400;
    font-family: Nunito Sans;
    text-align: start;
  }
}