<ion-header [translucent]="true">
  <ion-toolbar class="new-background-color">
    <ion-title>
      Logo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-row size-lg="12" class="topContent">
      <ion-col size-lg="12" size-xs="12" size-sm="12" size-md="12" class="surprise"> Discover the magic of our </ion-col>
      <ion-col size-lg="12" size-xs="12" size-sm="12" size-md="12" class="surprise"> surprise box </ion-col>
      <ion-col size-lg="12" size-xs="12" size-sm="12" size-md="12" class="surpriseDesc firstDesc">Unleash your child's curiosity with our educational subscription box </ion-col>
      <ion-col size-lg="12" size-xs="12" size-sm="12" size-md="12" class="surpriseDesc">filled with fun and learning. </ion-col>
      <ion-col size-lg="12" size-xs="12" size-sm="12" size-md="12" class="btnBlock">
        <ion-button (click)="goSubscribe()" class="subscribeBtn">Subscribe Now</ion-button>
      </ion-col>
      <ion-col size-lg="12" size-xs="12" size-sm="12" size-md="12" class="block">
        <img size-lg="12" size-xs="12" size-sm="12" size-md="12" src="../../assets/images/Placeholder_Image.png">
      </ion-col>
  </ion-row>
  <ion-row size-lg="12" class="bottomContent">
    <ion-col size-lg="12" size-xs="12" size-sm="12" size-md="12" class="discoverfirstHeader">Discover</ion-col>
    <ion-col size-lg="12" size-xs="12" size-sm="12" size-md="12" class="discoversecondHeader">How It Works: Subscribe and</ion-col>
    <ion-col size-lg="12" size-xs="12" size-sm="12" size-md="12" class="discoversecondHeader">Receive Your Surprise Box</ion-col>
    <ion-col size-lg="12" size-xs="12" size-sm="12" size-md="12" class="discoverBody">
      Subscribe to our surprise subscription box and give your child the gift of
    </ion-col>
    <ion-col size-lg="12" size-xs="12" size-sm="12" size-md="12" class="discoverBody">
      learning. Each month, we curate a box filled with educational materials
    </ion-col>
    <ion-col size-lg="12" size-xs="12" size-sm="12" size-md="12" class="discoverBody">
      tailored to your child's age and interests.
    </ion-col>

    <ion-col size-lg="4" size-xs="12" size-sm="12" size-md="4" class="block serviceBox" >
      <ion-row size-lg="12" size-xs="12" size-sm="12" size-md="12" class="rowBlock iconBlock">
        <img src="../../assets/images/subscribe.png">
      </ion-row>
      <ion-row size-lg="12" size-xs="12" size-sm="12" size-md="12" class="rowBlock top"> Step 1: </ion-row>
      <ion-row size-lg="12" size-xs="12" size-sm="12" size-md="12" class="rowBlock bottom"> Subscribe </ion-row>
      <ion-row size-lg="12" size-xs="12" size-sm="12" size-md="12" class="rowBlock bodyBlock firstRow"> Select a subscription plan that suits your child's </ion-row>
      <ion-row size-lg="12" size-xs="12" size-sm="12" size-md="12" class="rowBlock bodyBlock"> learning needs and preferences. </ion-row>
    </ion-col>

    <ion-col size-lg="4" size-xs="12" size-sm="12" size-md="4" class="block serviceBox" >
      <ion-row size-lg="12" size-xs="12" size-sm="12" size-md="12" class="rowBlock iconBlock">
        <img src="../../assets/images/personalizebox.png">
      </ion-row>
      <ion-row size-lg="12" size-xs="12" size-sm="12" size-md="12" class="rowBlock top"> Step 2: </ion-row>
      <ion-row size-lg="12" size-xs="12" size-sm="12" size-md="12" class="rowBlock bottom"> Personalise Your Box </ion-row>
      <ion-row size-lg="12" size-xs="12" size-sm="12" size-md="12" class="rowBlock bodyBlock firstRow"> Tell us about your child's age, interests, and learning </ion-row>
      <ion-row size-lg="12" size-xs="12" size-sm="12" size-md="12" class="rowBlock bodyBlock"> goals, and we'll customize their surprise box </ion-row>
      <ion-row size-lg="12" size-xs="12" size-sm="12" size-md="12" class="rowBlock bodyBlock"> accordingly. </ion-row>
    </ion-col>

    <ion-col size-lg="4" size-xs="12" size-sm="12" size-md="4" class="block serviceBox" >
      <ion-row size-lg="12" size-xs="12" size-sm="12" size-md="12" class="rowBlock iconBlock">
        <img src="../../assets/images/subscribebox.png">
      </ion-row>
      <ion-row size-lg="12" size-xs="12" size-sm="12" size-md="12" class="rowBlock top"> Step 3: </ion-row>
      <ion-row size-lg="12" size-xs="12" size-sm="12" size-md="12" class="rowBlock bottom"> Receive Your Surprise Box </ion-row>
      <ion-row size-lg="12" size-xs="12" size-sm="12" size-md="12" class="rowBlock bodyBlock firstRow"> Sit back and relax as your child eagerly awaits the </ion-row>
      <ion-row size-lg="12" size-xs="12" size-sm="12" size-md="12" class="rowBlock bodyBlock"> arrival of their monthly surprise box filled with </ion-row>
      <ion-row size-lg="12" size-xs="12" size-sm="12" size-md="12" class="rowBlock bodyBlock"> engaging learning materials. </ion-row>
    </ion-col>

    <ion-col size-lg="12" size-xs="12" size-sm="12" size-md="12" class="btnBlock">
      <ion-button (click)="goSubscribe()" class="subscribeBtn">Subscribe Now</ion-button>
    </ion-col>

  </ion-row>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      <ion-row size-xs="12" size-sm="12" class="footer footerlogosubscribe">
        <ion-col size-xs="12" size-sm="12" class="footerLogoHeader">Logo</ion-col>
        <ion-col size-xs="12" size-sm="12">Link One</ion-col>
        <ion-col size-xs="12" size-sm="12">Link Two</ion-col>
        <ion-col size-xs="12" size-sm="12">Link Three</ion-col>
        <ion-col size-xs="12" size-sm="12">Link Four</ion-col>
        <ion-col size-xs="12" size-sm="12">Link Five</ion-col>
        <ion-col size-xs="12" size-sm="12">
          <input type = "text" placeholder = "Enter Your email" />
        </ion-col>
        <ion-col size-xs="12" size-sm="12" >
          <ion-button (click)="goSubscribe()" class="subscribeBtnFooter">Subscribe</ion-button>
        </ion-col>
        <ion-col size-xs="12" size-sm="12" class="policysubscript">By subscribing you agree to with our Privacy Policy</ion-col>
      </ion-row>
      <ion-row size-lg="12" size-xs="12" size-sm="12" size-md="12" class="footer">
        <ion-col size-lg="1" size-xs="12" size-sm="12" size-md="12" class="footerContent">Privacy Policy</ion-col>
        <ion-col size-lg="1" size-xs="12" size-sm="12" size-md="12" class="footerContent">Terms of Service</ion-col>
        <ion-col size-lg="1" size-xs="12" size-sm="12" size-md="12" class="footerContent">Cookies Settings</ion-col>
        <ion-col size-lg="7" size-xs="12" size-sm="12" size-md="12" class="copyRightContent"></ion-col>
        <ion-col size-lg="2" size-xs="12" size-sm="12" size-md="12" class="copyRightContent">© 2023 MyEdu. All rights reserved.</ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-footer>