.new-background-color{
  --background: #AB95F9;
  color: white;
}

.firstcontent {
  --background: none;
  background-color: #AB95F9;
  padding-top: 100px;
}
#container {
  text-align: center;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.surprise {
  font-size: 56px;
  color: #FFFFFF;
  font-weight: 900;
  font-family: Nunito Sans;
}

.surpriseDesc {
  font-size: 22px;
  color: #FFFFFF;
  font-weight: 500;
  font-family: Nunito Sans;
  margin-top: 20px;
}

.btnBlock {
  margin-top: 30px;
  padding-bottom: 100px;
}

.subscribeBtn {
  color: blue;
  --background: none;
  background-color: white;
  border-radius: 10px ;
}

.block {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

div.background{
  --background: none;
  background-color: #FFF9E6;
  background-image: url('../../assets/images/content_background.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding-top: 100px;
}

.discoverfirstHeader {
  font-size: 16px;
  font-weight: 500;
  font-family: Nunito Sans;
}

.discoversecondHeader {
  font-size: 48px;
  font-weight: 500;
  font-family: Nunito Sans;
  margin-top: 10px;
}

.discoverBody {
  font-size: 24px;
  font-weight: 400;
  font-family: Nunito Sans;
  margin-top: 10px;
}

.lastPara{
  display: flex;
  margin: auto;
  margin-top: 100px;
}

.contentBlock {
  width: 380px;
  height: 268px;
  margin: auto;
}

.iconBlock {
  background: white;
  height: 96px;
  width: 96px;
  border-radius: 144px;
  margin: auto;
}

.iconImg {
  margin-top: 20px;
}

.headerBlock{
  margin-top: 40px;
}

.headerBlock .top {
  font-size: 24px;
  font-weight: 700;
  font-family: Nunito Sans;
}

.headerBlock .bottom {
  font-size: 32px;
  font-weight: 700;
  font-family: Nunito Sans;
}

.bodyBlock {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  font-family: Nunito Sans;
}

.footer {
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 54px;
  margin-top: 50px;
  padding-top: 20px;
  border-top: 1px solid;
}

.leftSide {
  display: flex;
}

.footerContent {
  font-size: 14px;
  font-weight: 400;
  font-family: Nunito Sans;
  width: 130px;
}

.copyRightContent {
  font-size: 14px;
  font-weight: 400;
  font-family: Nunito Sans;
}